/* Adding font-family from google fonts */
@import url('https://fonts.googleapis.com/css?family=Acme|Open+Sans+Condensed:300|Roboto+Slab&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.book_shelf{
    position: relative;
    top: 80px;
}

.subject{
    display: flex;
    width: 100%;
    min-height: 200px;
    padding: 30px 20px;
}

.subject h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subject h2, .ref_list{
    width: 50%;
    min-height: 200px;
}

#li_span{    
    font-family: 'Open Sans Condensed', sans-serif;
    color: #333;
    margin-right: 30px;
}

.ref_list{
    justify-content: left;
    align-items: center;
    display: flex;
}

.ul_book_list{
    display: block;
    background-color: #f8f8f8;
    width: 70%;
    border-top: 10px solid #007BD7;
    border-bottom: 10px solid #007BD7;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    min-height: 200px;
    box-shadow: 1px 2px 10px #333;
}

@media screen and (max-width: 1024px){
    .subject h2{
        width: 30%;
    }

    .ref_list{
        width: 70%;
    }
}

@media screen and (max-width: 768px){
    .ul_book_list{
        width: 90%;
    }
}

@media screen and (max-width: 680px){
    .subject, .subject h2{
        display: block;
        width: 100%;
    }

    .subject{
        padding: 20px 10px;
    }

    .subject h2{
        text-align: center;
        padding: 10px;
        min-height: 50px;
        margin-bottom: 10px;
    }

    .ref_list{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

}

.ul_book_list li{
    list-style-type: none;
    color: #333;
    padding: 10px 20px;
}

.ul_li_book{
    display: flex;
}

.download{
    margin-left: auto;
}

.ul_book_list li a{
    color: #374785;
    text-decoration: none;
    padding: 8px;
    margin-right: 10px;
}

.ul_book_list li:hover span{
    transform: translateX(5px);
    transition: 0.5s;
}

.ul_book_list li a i{
    font-size: 20px;
}
