*{
    padding: 0;
    margin: 0;
}
@media screen and (min-width: 820px){
    .info{
        display: flex;
        width: 700px;
        height: 320px;   
        position: relative;
        float: right;
        /* background: #E6DEE0; */
        margin: 10px 50px 10px auto;
        border-radius: 5px;  
        align-items: center; 
        box-shadow: 0 2px 1px #333;
       
        background-color: rgba(0,0,0,0.1)
    }
    .psg-logo img{
        width: 250px;
        height: 298px;
        margin: 9px;
        border-radius: 5px;
        box-shadow: 0 2px 3px #333;
        opacity: 1;
    }
    .logo-description{;
    }
    .logo-description p{
        color: #333;
        margin: 0 15px;
    }
}
@media screen and (max-width: 819px){
    .info{
        display: block;
        width: 100vw;
        float: right;
        background: #E6DEE0;
        margin: 10px;
        border-radius: 5px;  
        align-items: center; 
        box-shadow: 0 2px 1px #333;
    }
    .psg-logo img{
        width: 200px;
        height: 240px;
        margin: 9px;
        border-radius: 5px;
        box-shadow: 0 2px 3px #333;
        text-align: center
    }
}


.logo-description{;
}
.logo-description p{
    color: #333;
    margin: 0 15px;
}